<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <link href="css/jquery.fullpage.css" rel="stylesheet">
    <link href="css/styleloginform.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/swiper.css">
    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/ladda-themeless.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery-1.10.2.min.js"></script>



</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Visa nhanh</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Về chúng tôi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Dịch vụ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">Tin tức</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="intro-text">

                <div class="intro-heading shake-slow shake-constant shake-constant--hover" style="color:#1fb507">Visa nhanh!</div>
                <div class="intro-lead-in">Hỗ trợ bạn trong mọi chuyến khởi hành</div>
                <a href="#services" class="page-scroll btn btn-xl">Đăng ký NGAY</a>
            </div>
        </div>
    </header>
    <!-- About Section -->

    <section id="about" class="bg-light-gray">

        <div class="container text-center">
            <h2 class="section-heading">
                Về chúng tôi
            </h2>
            <h3 class="section-subheading">
                Chúng tôi cung cấp dịch vụ làm, gia hạn visa, thị thực xuất cảnh và nhập cảnh thỏa mãn các tiêu chí dưới đây
            </h3>
            <div class="row text-center">
                <div class="col-md-3 col-sm-12 col-xm-12" style="height:100%">

                    <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                      </span>
                    <h4 class="service-heading"> Kịp thời </h4>


                </div>
                <div class="col-md-3 col-sm-12 col-xm-12" style="height:100%">

                    <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                      </span>
                    <h4 class="service-heading"> Tiện lợi </h4>


                </div>
                <div class="col-md-3 col-sm-12 col-xm-12" style="height:100%">

                    <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                      </span>
                    <h4 class="service-heading"> Hợp pháp </h4>


                </div>
                <div class="col-md-3 col-sm-12 col-xm-12" style="height:100%">

                    <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                      </span>
                    <h4 class="service-heading"> Thân thiện </h4>
                </div>

            </div>
        </div>

    </section>

    <section id="services" class="text-center">

        <h2 class="section-heading">
            Dịch vụ
          </h2>

        <div id="inputform" class="container">
            <div class="row text-center" style="margin-left:0px; margin-right:0px">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="hover ehover12 ">

                        <img class="img-responsive" src="img/xuatcanh.jpg" alt="" style="height:100%; width: 100%">

                        <div class="overlay">
                            <h2>Làm Visa xuất cảnh</h2>
                            <button class="info" data-toggle="modal" data-target="#xc_modal">Đặt dịch vụ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="hover ehover12 ">
                        <img class="img-responsive" src="img/nhapcanh.jpg" alt="" style="height:100%; width: 100%">

                        <div class="overlay">
                            <h2>Làm Visa nhập cảnh</h2>
                            <button class="info" data-toggle="modal" data-target="#nc_modal">Đặt dịch vụ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="hover ehover12 ">
                        <img class="img-responsive" src="img/giahan.jpg" alt="" style="height:100%; width: 100%">

                        <div class="overlay">
                            <h2>Gia hạn Visa</h2>
                            <button class="info" data-toggle="modal" data-target="#gh_modal">Đặt dịch vụ
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div id="login" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="display:none; cursor: default; background-color: transparent;">
            <div class="iwrapper ">
                <form class="login">
                    <p class="title">Thông tin về bạn</p>
                    <p> Để đăng ký dịch vụ, vui lòng cung cấp các thông tin dưới đây, xin cảm ơn :)</p>
                    <input type="text" placeholder="Họ và tên" autofocus/>
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Số điện thoại" />
                    <i class="fa fa-phone"></i>

                    <button id="submitinfo">
                        <i class="spinner"></i>
                        <span class="state">Gửi thông tin</span>
                    </button>
                </form>

                </p>
            </div>
        </div>

        <div id="xc_modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dịch vụ xuất cảnh</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default" style="background-image: url(img/input-xc.jpg); background-size:cover">

                            <div class="panel-body">
                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="height: 150px">
                                        <h3>QUỐC GIA</h3>
                                        <div id="input-ahead">
                                            <input class="typeahead form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="height: 150px">
                                        <h3>THỜI GIAN CHỜ</h3>
                                        <select class="selectpicker">
                                            <option>3 ngày</option>
                                            <option>5 ngày</option>
                                            <option>7 ngày</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="height: 150px">
                                        <h3>SỐ LƯỢNG</h3>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success ladda-button" data-style="expand-left" data-size="l">đăng ký</button>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Tài liệu cần có</div>
                            <div class="panel-body" style="max-height: 10;overflow-y: scroll;">Panel Content</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="nc_modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dịch vụ nhập cảnh</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default" style="background-image: url(img/input-nc.jpg); background-size:cover;">
                            <div class="panel-body">
                                <div class="row text-center">

                                    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-xs-1" style="height: 150px">
                                        <h3>THỜI GIAN CHỜ</h3>
                                        <select class="selectpicker">
                                            <option>3 ngày</option>
                                            <option>5 ngày</option>
                                            <option>7 ngày</option>
                                        </select>
                                    </div>


                                    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-xs-1" style="height: 150px">
                                        <h3>SỐ LƯỢNG</h3>
                                        <div id="input-ahead">
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success ladda-button" data-style="expand-left" data-size="l">đăng ký</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Tài liệu cần có</div>
                            <div class="panel-body" style="max-height: 10;overflow-y: scroll;">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="gh_modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dịch vụ gia hạn</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default" style="background-image: url(img/input-gh.jpg); background-size:cover">

                            <div class="panel-body">
                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-6" style="height: 150px">
                                        <h3>QUỐC GIA</h3>
                                        <div id="input-ahead">
                                            <input class="typeahead form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6" style="height: 150px">
                                        <h3>THỜI GIAN CHỜ</h3>
                                        <select class="selectpicker" data-width="100%">
                                            <option>3 ngày</option>
                                            <option>5 ngày</option>
                                            <option>7 ngày</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6" style="height: 150px">
                                        <h3>XIN GIA HẠN</h3>
                                        <select class="selectpicker" data-width="100%">
                                            <option>6 tháng</option>
                                            <option>12 tháng</option>
                                            <option>18 tháng</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6" style="height: 150px">
                                        <h3>SỐ LƯỢNG</h3>
                                        <div id="input-ahead">
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success ladda-button" data-style="expand-left" data-size="l">đăng ký</button>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Tài liệu cần có</div>
                            <div class="panel-body" style="max-height: 10;overflow-y: scroll;">Panel Content</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->

    <section id="contact">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Liên hệ</h2>
                    <h3 class="section-subheading text-muted">Chúng tôi sẵn sàng lắng nghe mọi yêu cầu và đóng góp của quý khách hàng</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6" style="height: 100%">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tên của bạn *" id="name" required data-validation-required-message="Nhập tên của bạn ở đây.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Địa chỉ Email *" id="email" required data-validation-required-message="Nhập địa chỉ eamil ở đây.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Số điện thoại *" id="phone" required data-validation-required-message="Nhập số điện thoại ở đây.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6" style="height: 100%">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Lời nhắn."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Gửi thư</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <!-- jQuery -->


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

    <script src="js/typeahead.bundle.js"></script>

    <script type="text/javascript">
        console.log("bloodhound ready :)");
        var chauMy = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('country'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: 'data/chauA.json'
        });

        var chauA = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('country'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: 'data/chauMy.json'
        });

        $('#input-ahead .typeahead').typeahead({
            highlight: true
        }, {
            name: 'chau-My',
            display: 'country',
            source: chauMy,
            templates: {
                header: '<h3 class="nation-name">Châu Mỹ</h3>'
            }
        }, {
            name: 'chau-A',
            display: 'country',
            source: chauA,
            templates: {
                header: '<h3 class="nation-name">Châu Á</h3>'
            }
        });


        $(window).load(function() {
            // Bind submit buttons
            Ladda.bind('button[type=submit]', {
                timeout: 1500
            });
            // Bind progress buttons and simulate loading progress


            // You can control loading explicitly using the JavaScript API
            // as outlined below:

            // var l = Ladda.create( document.querySelector( 'button' ) );
            // l.start();
            // l.stop();
            // l.toggle();
            // l.isLoading();
            // l.setProgress( 0-1 )
        });
    </script>





    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 4,
            width: 100 %
        });
    </script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

    <script src="js/jquery.swiper.js"></script>
    <!-- For slider-->
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            loop: true,

            // If we need pagination
            pagination: '.swiper-pagination',
            paginationClickable: true
                // Navigation arrows
                //nextButton: '.swiper-button-next',
                //prevButton: '.swiper-button-prev',

            // And if we need scrollbar
            //scrollbar: '.swiper-scrollbar',
        });
    </script>
    <!-- For button loading ladda-->
    <script src="js/spin.js"></script>
    <script src="js/ladda.js"></script>

    <script src="js/scroll.js"></script>
    <script src="js/index.js"></script>

    <script src="js/prefixfree.min.js"></script>
    <script src="js/jquery.blockUI.js"></script>
    <script src="js/scrollMonitor.js"></script>
    <script>
        $(document).ready(function() {
            //$('#fullpage').fullpage();
            $('#blockButton').click(function() {
                $('div.test').block({
                    message: null
                });
            });

            // https://github.com/stutrek/scrollMonitor
            var myElement = document.getElementById("services");

            var elementWatcher = scrollMonitor.create(myElement);

            elementWatcher.enterViewport(function() {
                console.log('I have entered the viewport');
                $('div#inputform').block({
                    message: $('#login'),
                    css: {

                        height: '110%',
                        width: '100%',
                        background: 'rgba(0,0,0,0.5)'
                    }
                });
            });
            elementWatcher.exitViewport(function() {
                console.log('I have left the viewport');
                $('div#inputform').unblock();
            });


            $('#submitinfo').click(function() {
                $('div#inputform').unblock();
            });
        });
    </script>

</body>

</html>
