<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ng"http://angularjs.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visa Nhanh</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <link href="css/jquery.fullpage.css" rel="stylesheet">
    <link href="css/styleloginform.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/swiper.css">
    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/ladda-themeless.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery-1.10.2.min.js"></script>
    


</head>


<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Visa nhanh</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Về chúng tôi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Dịch vụ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">Tin tức</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
    <div class="container">
        <div class="intro-text">

            <div class="intro-heading shake-slow shake-constant shake-constant--hover" style="color:#1fb507">Visa nhanh!</div>
            <div class="intro-lead-in">Hỗ trợ bạn trong mọi chuyến khởi hành</div>
            <a href="#services" class="page-scroll btn btn-xl">Đăng ký NGAY</a>
        </div>
    </div>
    </header>

    <!-- CONTENT SECTION -->
    <div id="root">

    </div>
    
    <!-- CONTENT SECTION -->

    <!-- Contact Section -->

    <section id="contact">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Liên hệ</h2>
                    <h3 class="section-subheading text-muted">Chúng tôi sẵn sàng lắng nghe mọi yêu cầu và đóng góp của quý khách hàng</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6" style="height: 100%">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tên của bạn *" id="name" required data-validation-required-message="Nhập tên của bạn ở đây.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Địa chỉ Email *" id="email" required data-validation-required-message="Nhập địa chỉ eamil ở đây.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Số điện thoại *" id="phone" required data-validation-required-message="Nhập số điện thoại ở đây.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6" style="height: 100%">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Lời nhắn."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Gửi thư</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <!-- jQuery -->

    <script src="bin/home.bundle.js"></script> 
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Plugin Validator-->
    <script src="js/jquery.validate.min.js"></script>
    
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

    <script src="js/typeahead.bundle.js"></script>

    <script type="text/javascript">
        console.log("bloodhound ready :)");
            var chauMy = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('country'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: 'data/chauA.json'
        });

        var chauA = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('country'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: 'data/chauMy.json'
        });

        $('#input-ahead .typeahead').typeahead({
            highlight: true
        }, {
            name: 'chau-My',
            display: 'country',
            source: chauMy,
            templates: {
                header: '<h3 class="nation-name">Châu Mỹ</h3>'
            }
        }, {
            name: 'chau-A',
            display: 'country',
            source: chauA,
            templates: {
                header: '<h3 class="nation-name">Châu Á</h3>'
            }
        });


        $(window).load(function() {
            // Bind submit buttons
            Ladda.bind('button[type=submit]', {
                timeout: 1500
            });
            // Bind progress buttons and simulate loading progress


            // You can control loading explicitly using the JavaScript API
            // as outlined below:

            // var l = Ladda.create( document.querySelector( 'button' ) );
            // l.start();
            // l.stop();
            // l.toggle();
            // l.isLoading();
            // l.setProgress( 0-1 )
        });
       
        
    </script>





    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 4,
            width: 100 %
        });
    </script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

        <!-- For button loading ladda-->
    <script src="js/spin.js"></script>
    <script src="js/ladda.js"></script>

    <!-- For viewport -->

    <script src="js/scroll.js"></script>
    <script src="js/index.js"></script>

    <script src="js/prefixfree.min.js"></script>
    <script src="js/jquery.blockUI.js"></script>
    
    <script src="js/scrollMonitor.js"></script>
    <script>
        $(document).ready(function() {
            //$('#fullpage').fullpage();
            

            // https://github.com/stutrek/scrollMonitor
            var myElement = document.getElementById("services");

            var elementWatcher = scrollMonitor.create(myElement);
            $('div#inputform').block({
                    message: $('#login'),
                    css: {

                        height: '110%',
                        width: '100%',
                        background: 'rgba(0,0,0,0.5)'
                    }
            });
            /*
            elementWatcher.enterViewport(function() {
                console.log('I have entered the viewport');
                $('div#inputform').block({
                    message: $('#login'),
                    css: {

                        height: '110%',
                        width: '100%',
                        background: 'rgba(0,0,0,0.5)'
                    }
                });
            });
            elementWatcher.exitViewport(function() {
                console.log('I have left the viewport');
                $('div#inputform').unblock();
                console.log('welcome to input form');
            });
            */
        });
    </script>
    
</body>

</html>
